# Dependency directories
/node_modules

# Build files
/build
/dist

# Environment variables
.env

# IDE and editor files
/.idea
.vscode

# Compiled files
*.log

# macOS system files
.DS_Store

# Windows Thumbs.db file
Thumbs.db
